@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700&display=swap");

:root {
  --font-family: "Ubuntu", sans-serf;
  --bg-color: #f8f8f8;
  --text-color: #393939;
  --first-color: #0064b5;
  --second-color: #0064b5;
}

* {
  font-family: var(--font-family);
  color: #393939;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h2 {
  margin-top: 45px;
}

p {
  line-height: 150%;
}

.logo {
  font-size: 18px;
  font-weight: 500;
}

.logoSmall {
  font-size: 18px;
  font-weight: 500;
  display: none;
}

.navigation {
  background-color: var(--bg-color);
  width: 100%;
  padding: 38px 0;
}

.leftContent {
  line-height: 90px;
}

.navigation .max-width {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 60px;
}

.navigation li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}

.navigation a:hover {
  color: var(--first-color);
}

.navigation a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
}

.hamburgerMenu {
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.sectionMain {
  color: var(--text-color);
  display: flex;
  height: auto;
  width: 100%;
  background-color: var(--bg-color);
}

.sectionMain .max-width {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 60px 60px 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.sectionMain .text1 {
  font-size: 30px;
}

.sectionMain .text2 {
  font-size: 60px;
  font-weight: 500;
}

.sectionMain .text3 {
  font-size: 30px;
}

.contactMe {
  background-color: var(--first-color);
  border: none;
  color: white;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 60px;
  border-radius: 30px;
  width: 130px;
  height: 45px;
}

/* About me section */

.aboutMe .max-width {
  max-width: 1200px;
  margin: auto;
  padding: 0 60px;
}

.aboutMe a {
  font-weight: 500;
}

.aboutMe a:hover {
  font-weight: 500;
  color: var(--first-color);
}

.max-width .line {
  height: 5px;
  background-color: var(--bg-color);
  border-radius: 3px;
  margin-bottom: 35px;
}

.max-width .line .underline {
  height: 5px;
  background-color: var(--first-color);
  width: 30px;
  margin: 8px 0 0;
  border-radius: 3px;
}

.aboutMe p {
  margin-bottom: 30px;
}

/* Contact section */

.contact .max-width {
  max-width: 1200px;
  margin: auto;
  padding: 0 60px;
}

.contact .max-width .contactContainer {
  display: flex;
  gap: 10%;
}

.contact .max-width .contactContainer .contactForm {
  flex: 50%;
}

.contact .max-width .contactContainer .address {
  flex: 50%;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 3px solid var(--bg-color);
  margin: 12px 0 24px;
  font-size: 16px;
  resize: none;
}

input:focus,
textarea:focus {
  border: 3px solid var(--second-color);
  outline: none;
}

.contactMe,
input[type="submit"] {
  background-color: var(--first-color);
  border: none;
  color: white;
  /*padding: 13px 28px;*/
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 24px;
  width: 130px;
  height: 45px;
}

.contactMe {
  margin-top: 40px;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: var(--bg-color);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerText {
  text-align: center;
}

.footerText span {
  font-weight: 500;
}

.scroll-up {
  position: fixed;
  font-size: 32px;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: var(--first-color);
  padding: 6px;
  border-radius: 50%;
}

.message-sent {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 0px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  .logo {
    display: block;
    font-weight: 500;
    font-size: 18px;
  }

  .logoSmall {
    display: none;
  }

  .sectionMain .max-width {
    align-items: flex-start;
  }

  .aboutMe .max-width,
  .contact .max-width,
  .navigation .max-width,
  .projects .max-width,
  .sectionMain .max-width,
  .skills .max-width {
    padding: 0 40px;
  }

  .sectionMain .rightContent {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .logoSmall {
    display: block;
    font-size: 18px;
    font-weight: 500;
  }

  .sectionMain .max-width {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .contact .max-width .contactContainer {
    flex-direction: column;
  }

  .contact .max-width .contactContainer .address {
    margin-top: 50px;
  }

  .aboutMe .max-width,
  .contact .max-width,
  .navigation .max-width,
  .projects .max-width,
  .sectionMain .max-width,
  .skills .max-width {
    padding: 0 30px;
  }

  .text3 {
    display: none;
  }
}